{% extends "forward_home/layout.html" %}
{% block content %}

  {% if current_user.is_authenticated %}  
    <!-- Header -->
    <section class="home_header_css">
        <div class="container">
          <div class="box">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div> 
                    {% endfor %}
                {% endif %}
            {% endwith %}  
            <h1 class="text-center"><span class="text-warning"> Forward: </span> Connecting Education and Society</h1>
            <p class="lead my-3">
                Forward is an <b>educational platform</b> that aims to connect education and society making that interaction fluent and effective.
            </p>
            <p class="lead my-3">
                To achieve that objective, Forward hosts different <b>courses</b> to facilitate the access to education by active learning. Forward also host thematic <b>platforms</b> where the users have access to dashboards that disclose useful data in different disciplines, and where the user have access to frontier research in those disciplines.
            </p>
            <div class="container_buttons_links_header">
              <div class="btn">
                  <a href="{{url_for('forward_users.forward_users_register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
              </div>
              <div class="btn">
                  <a href="{{url_for('forward_users.forward_users_login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
              </div>
            </div>  
          </div>
          <div class="box">
            <img 
            src="{{url_for('static', filename='figures/forward/forward_icon.svg')}}"
              width="325" 
              height="325"
            alt=""/>
          </div>
        </div>
    </section>  
  {% else %}
  <!-- Header -->
    <section class="home_header_css">
        <div class="container">
            <div class="box">
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div> 
                        {% endfor %}
                    {% endif %}
                {% endwith %} 
            <h1 class="text-center"><span class="text-warning"> Forward: </span> Connecting Education and Society</h1>
            <p class="lead my-3">
                Forward is an <b>educational platform</b> that aims to connect education and society making that interaction fluent and effective.
            </p>
            <p class="lead my-3">
                To achieve that objective, Forward hosts different <b>courses</b> to facilitate the access to education by active learning. Forward also host thematic <b>platforms</b> where the users have access to dashboards that disclose useful data in different disciplines, and where the user have access to frontier research in those disciplines.
            </p>
            <div class="container_buttons_links_header">
                <div class="btn">
                    <a href="{{url_for('forward_users.forward_users_register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
                </div>
                <div class="btn">
                    <a href="{{url_for('forward_users.forward_users_login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
                </div>
            </div>  
            </div>
            <div class="box">
            <img 
            src="{{url_for('static', filename='figures/forward/forward_icon.svg')}}"
                width="325" 
                height="325"
            alt=""/>
            </div>
        </div>
    </section> 
  {% endif %} 



      <!-- Question Accordion -->
  <section id="questions" class="p-5" >
    <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    </div>
    <div class="accordion accordion-flush" id="privacy">
         <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
          >
            Forward Data Privacy.
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p>Forward is hosted in the servers of Amazon Web Services (AWS) located in the European Union, EU (Stockholm). Therefore, the data of the users of the platform are protected by the next <strong>three law layers</strong>:
            <br>
            <br>
            First, the data of the users of Forward are protected by the <a href="https://aws.amazon.com/agreement/" style="text-decoration: none;" target="_blank"><strong>AWS Customer Agreement</strong></a>, and the <a href="https://d1.awsstatic.com/legal/aws-gdpr/AWS_GDPR_DPA.pdf" style="text-decoration: none;"  target="_blank"><strong>AWS data processing Addendum</strong></a>.
            <br>
            <br>
            Second, the data of the users of Forward are protected by the <a href="https://aws.amazon.com/compliance/gdpr-center/" style="text-decoration: none;" target="_blank"><strong>European Union General Data Protection Regulation (GDPR)</strong></a>. The data is also protected by the <a href="https://aws.amazon.com/compliance/cispe/" style="text-decoration: none;" target="_blank"><strong>Cloud Infrastructure Services Providers in Europe code of conduct</strong></a>.
            <br>
            <br>
            Third, at the international level, the data of the users of Forward are safeguard by numerous internationally-recognized certifications and accreditations, such as <a href="https://aws.amazon.com/compliance/iso-27017-faqs/" style="text-decoration: none;" target="_blank"><strong>ISO 27017</strong></a> for cloud security, <a href="https://aws.amazon.com/compliance/iso-27701-faqs/" style="text-decoration: none;" target="_blank"><strong>ISO 27701</strong></a> for privacy information management, and <a href="https://aws.amazon.com/compliance/iso-27018-faqs/" style="text-decoration: none;" target="_blank"><strong>ISO 27018</strong></a> for cloud privacy.   
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>


{% endblock content %}
